

  *{
    margin: 0;
    padding: 0;
    
 } 
  .poster-contanit{
    width: 1440px;
    height: 652px;
    margin: 0 auto;
    margin-top: 30px;
    background-image: url('./images/hero.png');
    display: flex;
}
.poster-box{
    height:652px ;
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap:50px;
  
}
.poster-box h2{
    font-size: 45px;
font-weight: 800;
}
.potter-btn{
    width: 208px;
    height: 66px;
    background-color: black;
    border-radius: 8px;
    color:rgb(255, 255, 255) ;
    display: flex; 
  align-items: center;
  justify-content: center;
    /* text-align: center; */
}
.poster-box p{
font-size: 16px;
font-weight: 400;
color: rgb(13, 19, 33 ,0.7);
}
.box-container{
    width:1140px ;
    height: 1395px;
  
    
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
}
.box-info{
    
width: 996px;
height: 1253px;
margin: 0 auto;
margin-top: 70px;
display: flex;
 flex-direction: column; 
 align-items: center;
 justify-content: center; 
 text-align: center;
 gap: 30px; 

}
.textt h1{
    font-size: 32px;
font-weight: 800;
 color: rgba(13, 19, 33, 0.7) ;
}
.textt p{
    font-size: 16px;
    font-weight: 400;
   color: rgba(13, 19, 33, 0.7) 
}
.first-pic{
  width: 996px;
  height: 333px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
 text-align: left;
 
}
.first-pic h3{
    font-size: 24px;
font-weight: 700;
 color:rgba(13, 19, 33, 0.7);
}
.first-pic p{
    font-size: 16px;
font-weight: 400;
color: rgba(13, 19, 33, 0.7);
}

.second-pic{
  width: 996px;
  height: 333px; 
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
   align-items: center; 
  text-align: left;
  /* justify-content: space-between;   */
}

.second-box h3{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
font-weight: 700;
}
.second-box p{
    color: rgba(13, 19, 33, 0.7);
    font-size: 16px;
font-weight: 400;
}
.third-pic{
  width: 996px;
  height: 333px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  text-align: left; 
}
.third-box h3{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
font-weight: 700;
}
.third-box p{
    color: rgba(13, 19, 33, 0.7);
    font-size: 16px;
font-weight: 400;
}
.btn{
    width: 150px;
    height: 48px;
    border: 1px solid rgba(13, 19, 33, 0.7) ;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgba(13, 19, 33 ,0.7) ;

}
.video{
width: 1140px;
height: 775px;
/* border: 1px solid green; */
margin-top: 30px;
margin: 0 auto;
}
.video-contain{
    width: 852px;
    height:113px ;
    /* border: 1px solid blue; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.video-contain h1{
    font-size: 38px;
font-weight: 800;
color: black;
}
.video-contain p{
    font-size: 16px;
font-weight: 400;
color: rgba(13, 19, 33, 0.7);
}
.main-video{
    width: 1140px;
    height: 614px;
    border: 1px solid  rgba(13, 19, 33, 0.2);
    border-radius: 16px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    
    
}
.video-style{
    border-radius: 16px;
}




.icons{
    width: 1140px;
    height:460px ;
    /* border: 1px solid blue; */
    margin: 0 auto;
    margin-top: 30px;
}
.icon-text{
    width:996px ;
    height:113px ;
    /* border:1px solid goldenrod ; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.icon-text h1{
    font-size: 32px;
font-weight: 800;
  color:rgb(13, 19, 33);
}
.icon-text p{
    font-size: 16px;
font-weight: 400;
color: rgba(13, 19, 33, 0.7);
}
.icon-design{
    width: 1140px;
    height: 347px;
    font-size: 32px;
    font-weight: 800;
    /* border:1px solid green; */
    display: flex;
    align-items: center; 
    justify-content: center;

    
}
.html-icon{
    width: 284px;
    height:219px ;
    /* border: 1px solid purple; */
    display: flex;
    flex-direction: column;
    
    margin-left: 10px;
    
}
.html-icon h1{
    
    font-size: 24px;
font-weight: 800;
color: rgb(13, 19, 33);
}
.html-icon p{
    font-size: 16px;
font-weight: 400;
color: rgba(13, 19, 33, 0.7);
}
.css-icon{
    width: 284px;
    height:219px ;
    /* border: 1px solid purple; */
    margin-left: 90px;
    display: flex;
    flex-direction: column;
}
.css-icon h1{
font-size: 24px;
font-weight: 800;
color: rgb(13, 19, 33);
}
.css-icon p{
    font-size: 16px;
font-weight: 400;
color: rgba(13, 19, 33, 0.7);
}
.js-icon{
    width: 284px;
    height:219px ;
    /* border: 1px solid purple; */
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    margin-left: 90px;
}
.js-icon h1{
    font-size: 24px;
font-weight: 800;
color: rgb(13, 19, 33);
}
.js-icon p{
    font-size: 16px;
font-weight: 400;
color: rgba(13, 19, 33, 0.7);
}
.formal-contain{
    width: 1140px;
    height: 313px;
    border: 1px solid blue;
    margin: 0 auto;
    display: flex;
    background-image: url('./images/handshake.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),url(Email);
  background-blend-mode: overlay;
}
.formal-box{
    width: 1140px;
    height: 313px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
.formal-box h1{
    font-size: 32px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}
.formal-box p{
    font-size: 16px;
font-weight: 400;
 color:rgb(255, 255, 255)
}

.input-box{
    display: flex;
    justify-content: flex-start;
       
}
.box1{
    width: 450px;
height: 50px;
background-color: white;
display: flex;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;

background: rgb(255, 255, 255);

margin: 0px 16px;
}
.box1 input{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255); 
}
.box2{
    width: 80px;
height: 52px;
background-color: white;
/* border: none; */
border-radius: 8px;
background: rgb(255, 255, 255);
display: flex;
}
.box2 input{
    width: 100%;
    height: 100%;
    font-size: 15px;
font-weight: 600;
    border-radius: 8px;
    background: rgb(255, 255, 255); 

   
    
}

    

    


